{% extends "basic.html" %}
{% block title %}
Checkout
{% endblock title %}

{% block body %}


    <div class="bg-light py-3">

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="border p-4 rounded" role="alert">
              Returning customer? <a href="#">Click here</a> to login
            </div>
          </div>
        </div>
        <form action="/thankyou/" method="post">{% csrf_token %}
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group">
                <label for="country" class="text-black">Country <span class="text-danger">*</span></label>
                <select id="country" class="form-control">  
                  <option value="INDIA">INDIA</option>    
                  <option value="United States of America">United States of America</option>
                  <option value="Russia">Russia</option>
                  <option value="Australia">Australia</option>
                  <option value="London">London</option>
                </select>
              </div>
              <input type="hidden" name="itemsJson" id="itemsJson">
              <input type="hidden" name="amount" id="amount">
              <input type="hidden" name="countryinput" id="countryinput">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="fname">
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="lname">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="address" placeholder="Street address">
                </div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_state_country" name="state">
                </div>
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">Post / Zip Number<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_postal_zip" name="zip">
                </div>
              </div>

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_email_address" name="email">
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="phone" placeholder="Phone Number">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                <div class="p-3 p-lg-5 border">
                  
                  <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                  <div class="input-group w-75">
                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">Apply</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody id="orders">
                    </tbody>
                  </table>

                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="updateTheItems()">Place Order</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
        </form>
      </div>
    </div>

<script>
  let orders = document.getElementById('orders');
  if (localStorage.getItem("cart") == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem("cart"));
  }
var i = 1;
var totalPrice = 0;
  for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    let price = cart[item][2];
    mystr = `<tr>
                        <td>${name}<strong class="mx-2">x</strong> ${qty}</td>
                        <td style="width: 6em;">${price}</td>
                      </tr>`;
    orders.innerHTML += mystr;
    totalPrice = totalPrice + Number(price.split(' ')[1]);
    // document.getElementById('pricee').innerHTML = `<strong class="text-black">Rs. ${totalPrice}</strong>`

    i = i + 1;
  }
   orders.innerHTML += `<tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>Rs. ${totalPrice}</strong></td>
                      </tr>`

function updateTheItems() {
  document.getElementById('itemsJson').value = localStorage.getItem("cart")
  document.getElementById('amount').value = totalPrice
  document.getElementById('countryinput').value = document.getElementById('country').value
}
</script>

{% endblock body %}
