{% extends "basic.html" %} {% block title %}Contact Us{% endblock title %} 
{% block body %}
{% load static %}

<div
  class="site-blocks-cover inner-page"
  style="
    background-image: url({% static 'images/hero_2.jpg' %});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
  data-aos="fade"
>
<h1 style="margin-top: 3em;margin-left: 6em;">Contact Us</h1>
  <div class="container">
    <div class="row"></div>
  </div>
</div>
<div class="bg-light py-3">

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 mb-3 text-black">Get In Touch</h2>
      </div>
      <div class="col-md-7">
        <form action="/contact/" method="post">{% csrf_token %}
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_fname" class="text-black"
                  >First Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  name="fname"
                />
              </div>
              <div class="col-md-6">
                <label for="c_lname" class="text-black"
                  >Last Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  name="lname"
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_email" class="text-black"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder=""
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_subject" class="text-black">Subject </label>
                <input
                  type="text"
                  class="form-control"
                  id="subject"
                  name="subject"
                />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_message" class="text-black">Message </label>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="7"
                  class="form-control"
                ></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-12">
                <input
                  type="submit"
                  class="btn btn-primary btn-lg btn-block"
                  value="Send Message"
                />
              </div>
            </div>
          </div>
        </form>
        {{string}}
      </div>
      <div class="col-md-5 ml-auto">
        <div class="p-4 border mb-3">
          <span class="d-block text-primary h6 text-uppercase">Bhopal</span>
          <p class="mb-0">
            VIT Bhopal Hostel.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  {% if vall %}
  alert('{{string}}')
  {% endif %}
</script>

{% endblock body %}
